[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-assets = "*"
gunicorn = "*"
cloudinary = "*"
opencv-python = "*"
pandas = "*"
marshmallow = "*"
flask-jwt-extended = "*"
flask-marshmallow = "*"
flask-dotenv = "*"
flask-cors = "*"
mysql-client = "*"
pymysql = "*"
tensorflow-cpu = "*"

[dev-packages]

[requires]
python_version = "3.8"
